#AMADEUS_API_KEY
AMADEUS_API_KEY={your_api_key_here}
AMADEUS_API_SECRET={your_api_secret_here}


# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD={your_password}
POSTGRES_DB=flight_prices
POSTGRES_PORT=5432

#Database_url = "postgresql+psycopg2://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@localhost:$(POSTGRES_PORT)/$(POSTGRES_DB)"
DATABASE_URL=postgresql+psycopg2://postgres:{your_password}@localhost:5432/flight_prices

# pgAdmin Configuration
PGADMIN_EMAIL=admin@flightprice.com
PGADMIN_PASSWORD={your_password}
PGADMIN_PORT=5050

DB_PASSWORD=123456