services:
# PostgreSQL Database Service
  postgres:
    image: postgres:16-alpine          
    container_name: flight_price_db
    restart: always
    # Set environment variables for PostgreSQL
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_INITDB_ARGS: "-E UTF8"
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:                                 
      - app-network

# pgAdmin Service
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: flight_price_pgadmin
    restart: always
    # Set environment variables for pgAdmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      postgres:
        condition: service_healthy              
    networks:                                   
      - app-network


volumes:
  postgres_data:
    driver: local
  pgadmin_data:                                 
    driver: local

networks:                                      
  app-network:
    driver: bridge
